/* css reset -------------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* general ---------------------------------------------------------------------------------*/
body {
	font-family: helvetica, sans-serif;
	font-weight: bold;
	color: white;
	background-color: rgb(0, 174, 239);
	padding:0;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-image:url(/images/gradient.png);
	background-size:cover;
	background-position:center top;
}

#wrapper {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

header {
	width:100%;
	height:79px;
}

header img {
	float:left;
	height:65px;
	width:auto;
}

/* navigation ------------------------------------------------------------------------------*/
/* place navigation */
#top_nav {
	clear:both;
	float:right;
	width:100%;
}

/* place naigation boxes */
#top_nav li,footer li {
	font-size:13px;
	color: white;
	text-align:center;
	float:left;
	position:relative;
	margin-top:0;
	margin-bottom:0;
	margin-right:0;
	line-height:25px;
}

footer ul,footer li {
	float:right;
}

footer li {
	width:110px;
}

#top_nav a:link,#top_nav a:visited,footer a:link,footer a:visited {
	color:#fff;
}

#top_nav > li,footer li {
	margin-bottom:20px;
	margin-top:20px;
	width:25%;
}

ul#top_nav a,footer a,nav > div {
	display:block;
	padding:8px;
	text-decoration:none;
}

nav>div {
	margin:5px;
	float:left;
	padding:0;
}

ul#top_nav a:hover,footer a:hover,nav>div:hover {
	background:rgba(0,132,198,1);
}

#top_nav ul {
	position:absolute;
	left:-9999px;
}

#top_nav ul li {
	padding-top:2px;
	float:none;
}

#top_nav li:hover ul {
	left:0;
	background-color:#00aeef;
}

/* body ------------------------------------------------------------------------------------*/
/*general ------------------------------*/
a:link,a:visited {
	color:rgba(0,132,198,1);
}

h1,h2,h3,h4,h5,h6,section p,aside p,section li,aside li,section a,aside a {
	font-family:serif;
}

textarea {
	overflow: auto;
	resize: none;
	width: 90%;
}

form {
	margin-left: 5%;
}

/*image --------------------------------*/
aside {
	float:left;
	width:100%;
	margin-bottom:30px;
}

#front_pic,#front_info {
	width:100%;
}

img.pic {
	margin-top:30px;
	width:100%;
	height:auto;
}

aside#web,aside#tools,aside#design {
	margin-top:30px;
	width:100%;
	height:100px;
	background-color:rgba(255,255,255,0.4);
}

/*aside --------------------------------*/
aside:nth-of-type(2) {
	width:100%;
	clear:left;
}

aside ul,aside p {
	background-color: rgba(255, 255, 255, 0.4);	 
	color: white;
	line-height:1.5em;
	padding:20px;
	text-align:justify;
}

aside ul {
	width: 100%;
	float:left;
	text-align:left;
	padding-left:50px;
	font-size:1em;
}

/*section ------------------------------*/
section {
	float:right;
	width:100%;
	margin:30px 0;
	background-color:rgba(255,255,255,0.4);
	padding:0;
}

h1#welcome {
	font-size:2em;
	font-family: helvetica, sans-serif;
	text-shadow:1px 1px 5px #000;
	text-align:center;
	margin-top:40px;
	color: white;
}

section#front_section {
	min-height:100px;
}

#front_section p {
	line-height:5em;
	text-align:center;
}

section li,section p,section h1,section h2,section h3,section h4,section h5,section h6,section p,section li,section a {
	line-height:1.7em;
	color: white;
	margin:20px;
}

section li {
	margin-left:20px;
}

/* site plan ------------------------------*/
section.plan {
	width:100%;
}

section.plan h1 {
	font-size:2em;
}

section.plan h2 {
	margin-top:25px;
}

section.plan img {
	margin-top:25px;
	margin-left: 20px;
}

section.plan li {
	margin-left: 40px;
}

section.plan code {
	color: black;
}

section.plan pre {
	overflow: scroll;
/* 	white-space: pre-wrap;  */
	background-color: rgba(128,128,128,0.47);
	margin: 20px;
	padding: 20px;
}

/* footer ----------------------------------------------------------------------------------*/
footer {
	clear:both;
	margin-top:180px;
	padding:10px;
	height:80px;
	background-color:#00a1f1;
}

footer li {
	width:33%;
}

footer ul {
	width:75%;
}

footer p {
	color: white;
	margin:0;
	float:left;
	font-size:.4em;
	line-height:1.3em;
	width:25%;
	display:block;
}

footer li {
	font-size:.9em;
	margin:0;
}